// Sizes
$mobile: 540px;
$tablet: 760px;
$desktop: 1024px;
// Colors
$purple: #353541;
$red: #fb6470;
$light-blue: #2e3b4a;
$dark-blue: #282835;
$default-text: #3e3e3e;
$light-grey: #e0e0e0;
$list-background: #f9f9f9;
